

@{
    ViewBag.Title = "Home Page";

}


<style>
    #MapDiv {
        height: 400px;
        width: 400px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>


<div class="row">

    <div id="MapDiv"> </div>


</div>

@section scripts{

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7-FJ4qXh1O_C1XFYIIaun-OfKoCIy5qg"></script>
    <script type="text/javascript">

        $.ajax({
            url: '/home/GetMapMarker',
            type: 'GET',
            success: function (data) {


                var markers = [];


                $.each(data, function (index, item) {


                    var marker = {};


                    marker["title"] = item.Name;
                    marker["lat"] = item.latitude;
                    marker["lng"] = item.longitude;

                    markers.push(marker);
                })

                initializeMap(markers);

            }
        });


        function initializeMap(markers) {

            console.log(markers);

            var GoogleMapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };



            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("MapDiv"), GoogleMapOptions);


            for (i = 0; i < markers.length; i++) {
                var data = markers[i]

                var myLatlng = new google.maps.LatLng(data.lat, data.lng);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title
                });

                (function (marker, data) {

                    google.maps.event.addListener(marker, "click", function (e) {

                        infoWindow.setContent(data.title);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }

    </script>
}